
/* GENERALE  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  background-color:rgb(246,248,249);
}

/* HEADER */

#barra{
  background-color:  white;
  padding: 10px 20px;
}  

div img{
  vertical-align: middle;
}

#titolo{
  display: inline-block;
  font-size: 36px; 
  vertical-align: middle;
}

/* /HEADER */

/* MAIN */

.contenitore{
  background-color: white;
  width: 60%;
  margin: 30px 20% 2px;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.banner{
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  border-width: 1px;
  border-color: rgb(246, 248, 249);
  cursor: pointer;
}


#task{
  margin-left: 35px;
  background-color: rgb(71, 173, 241) ;
  color: white;
}

#section{
  background-color: white;
  color: rgb(218, 221, 224);
}

/* secondo contenitore */

.centro{
  background-color: white;
  width: 60%;
  margin: 0 20%;
  padding: 10px 50px;
}

.check{
  display: inline-block;
  width: 22px;
  color:rgb(109, 197, 177) ;
  border: 1px solid rgb(109, 197, 177);
  border-radius: 50%;
  text-align: center;
}

.cross{
  display: inline-block;
  width: 22px;
  color:rgb(234, 69, 59) ;
  border: 1px solid rgb(234, 69, 59);
  border-radius: 50%;
  text-align: center;
}

p{
  display: inline-block;
  margin-left: 5px; 
}

.simbol{
  padding-right: 5px;
}

.curtain{
  margin-top: 25px;
  color: rgb(68, 72, 81);
}

.row{
  margin-top: 20px;
}

/* element e colori */

.element{
  font-size: 10px;
  color: white;
  border-width: 1px;
  border-color: rgb(246, 248, 249);
  border-radius: 8px;
  padding: 4px 8px;
}

.edit{
  background-color:rgb(71, 173, 241) ;
}

#Q1{
  background-color: rgb(156, 114, 228);
}

#rec{
  background-color: rgb(100,192, 169);
}

#mob{
  background-color: rgb(242, 158, 51);
}

#web{
  background-color: rgb(216, 99, 161);
}

#sal{
  background-color: rgb(176, 201, 38);
}

/* /Bottoni e colore */
/* /MAIN */